/*
    Frontend Mentor Challenge
    Four Card

*/

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
}

body {
    background-color: gainsboro;
    font-family: 'Poppins', sans-serif;
}

h3 {
    margin: 0 0 .7em 0;
}

#container {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    margin: 2em 0 0;
}

#header {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    outline: 1px solid gray;
}

p {
    outline: 1px solid green;
}

.title p:first-child {
    font-size: 1.875em;
    margin: 0 0 .5em;
}

.title p:nth-child(2) {
    font-size: 1.875em;
    font-weight: 900;
    margin: 0;
}

.tagline {
    font-size: 1em;
    color: #777;
    width: 50%;
    text-align: center;
    outline: 1px solid red;
}

.content {
    display: flex;
    flex: 1;
}

.cols {
    display: flex;
    flex: 1;
    /* outline: 1px solid red; */
}

.left {
    order: 1
}

.middle {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .cards {
    margin: 1em 0
}

.right {
    order: 3;
}

.left, .right {
    align-items: center;
    justify-content: center;
}

.cards {
    width: 60%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 1em;
    border-top: 4px solid red;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

footer {
    width: 100%;
    /* background-color: #f9f9f9; */
    display: flex;
    justify-content: center;
}